{% extends '../base.html' %}



{% block cuerpo %}

{% if object_list %}
<div class="main-card mb-3 card">
	<div class="card-body">
		<h5 class="card-title">Listado de Turnos</h5>
		<table class="table table-hover table-fixed">
			<tr>
                <th>Id</th>
				<th>Nombre Paciente</th>
                <th>Turno</th>
                <th>Medico</th>
                <th>Asistio</th>
                <th>Detalles</th>
                <th>Modificar</th>
                <th>Clip_Msj</th>
                <th>Enviar Email</th>
			</tr>
			{% for turno in object_list %}
            <input id="turno_{{ turno.id }}" style="position:absolute; left: -9999px" value="Le informamos que su turno con el Dr/Dra {{turno.medicos_id }} será en la fecha: {{ turno.fecha_turno }} en Aguilar 2595, piso 2 Dpto B, CABA.
            Le solicitamos confirmar la recepción de este mensaje y la asistencia al turno.
            Le recordamos que ante la situación que atravesamos actualmente (Covid19) no se podrá asistir al consultorio con acompañante.
            Es obligatorio el uso de BARBIJO/TAPABOCA‼️.
            Lo saluda atentamente el Equipo de Hemoglobal Servicie." />
            <div id="email_{{ turno.id }}" style="display: none;">{{ turno.paciente_id.email }}</div>
			<tr>
                <td>
                    {{ turno.id }}
                </td>
				<td id="paciente_{{ turno.id }}">
					{{ turno.paciente_id }}
				</td>
                <td>
                    {{ turno.fecha_turno }}
                </td>
                <td>
                  {{ turno.medicos_id }}
                </td>
                <td>
                    {{ turno.asistio }}
                </td>
                <td>
                     <a href="{% url 'agenda:turno_detail' pk=turno.id %}">Detalles</a>
                </td>
                <td>
                    <a href="{% url 'agenda:turno_update' pk=turno.id %}">Modificar</a>
                </td>
                <td>
                    <a href="#" class="generar_mensaje">turno_{{ turno.id }}</a>
                </td>
                <td>
                    <a href="#" class="enviar_email">email_{{ turno.id }}</a>
                </td>
			</tr>
			{% endfor %} {% else %}
			<p>No hay registros para mostrar.</p>
			{% endif %}
		</table>
	</div>
</div>
{% include './js/turno_list.js' %}
{% endblock %}